@{
    ViewData["Title"] = "Home Page";
}

<form method="post" enctype="multipart/form-data">
    <div class="text-center">
        <br /><br />
        <div class="col-12 row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <h3> Choose a text file</h3>
            </div>
        </div><br />
        <div class="col-12 row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div><br />
        <div class="col-12 row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <input type="submit" class="btn btn-secondary fw-bold form-control text-white" value="Convert" />
            </div>
        </div><br />

    </div>
</form>
